In [1]:
%run _spark_init.ipynb

- Write a structured query that limits collect_set standard function.

In [26]:
from pyspark.sql.functions import col, collect_set, slice

In [27]:
# Create a DataFrame with a range of values
df = spark.range(50)

# Add a new column "key" calculated based on the modulo operation of the "id" column
df = df.withColumn("key", col("id") % 5)

# Show the DataFrame
df.show()

+---+---+
| id|key|
+---+---+
|  0|  0|
|  1|  1|
|  2|  2|
|  3|  3|
|  4|  4|
|  5|  0|
|  6|  1|
|  7|  2|
|  8|  3|
|  9|  4|
| 10|  0|
| 11|  1|
| 12|  2|
| 13|  3|
| 14|  4|
| 15|  0|
| 16|  1|
| 17|  2|
| 18|  3|
| 19|  4|
+---+---+
only showing top 20 rows

In [29]:
(df
.groupBy("key")
.agg(collect_set("id").alias("all"))
.withColumn("only_first_three", slice("all", 1, 3))
).show(truncate=False)

+---+--------------------------------------+----------------+
|key|all                                   |only_first_three|
+---+--------------------------------------+----------------+
|0  |[0, 15, 30, 45, 5, 20, 35, 10, 25, 40]|[0, 15, 30]     |
|1  |[1, 16, 31, 46, 6, 21, 36, 11, 26, 41]|[1, 16, 31]     |
|2  |[12, 27, 37, 2, 17, 32, 42, 7, 22, 47]|[12, 27, 37]    |
|3  |[33, 48, 13, 38, 3, 18, 28, 43, 8, 23]|[33, 48, 13]    |
|4  |[9, 19, 34, 49, 24, 39, 4, 14, 29, 44]|[9, 19, 34]     |
+---+--------------------------------------+----------------+