In [1]:
%run _spark_init.ipynb

- Write a structured query that “merges” two rows of the same id (to replace nulls).

In [5]:
input = (
  (100,"John",35,None),
  (100,"John",None,"Georgia"),
  (101,"Mike",25,None),
  (101,"Mike",None,"New York"),
  (103,"Mary",22,None),
  (103,"Mary",None,"Texas"),
  (104,"Smith",25,None),
  (105,"Jake",None,"Florida"))

schema = "id int, name string, age int, city string"

df = spark.createDataFrame(input, schema)
df.show()

+---+-----+----+--------+
| id| name| age|    city|
+---+-----+----+--------+
|100| John|  35|    NULL|
|100| John|NULL| Georgia|
|101| Mike|  25|    NULL|
|101| Mike|NULL|New York|
|103| Mary|  22|    NULL|
|103| Mary|NULL|   Texas|
|104|Smith|  25|    NULL|
|105| Jake|NULL| Florida|
+---+-----+----+--------+

In [8]:
from pyspark.sql.functions import max

In [9]:
df.groupBy("id", "name").agg(max("age").alias("age"), max("city").alias("city")).show()

+---+-----+----+--------+
| id| name| age|    city|
+---+-----+----+--------+
|100| John|  35| Georgia|
|101| Mike|  25|New York|
|103| Mary|  22|   Texas|
|104|Smith|  25|    NULL|
|105| Jake|NULL| Florida|
+---+-----+----+--------+